.cabecalho{
     background-color: black;
      color: aliceblue
      ; text-align: center;
       margin: 0 auto; max-width: 800px;
       padding: 16px;
     }
      .principal{
         background-color: aliceblue;
          color: black;} 
          principal-imagem{
             Dimensão da imagem:largura e altura 100px*/ 
             widht: 100px 
             height: 100px 
            }